# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
#assignment 1
my_tuple = tuple(range(1, 11))
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#assignment 2
print(my_tuple[1])
print(my_tuple[len(my_tuple)//2])
print(my_tuple[-1])

2
6
10

In [6]:
#assignment 3
print(my_tuple[:3])
print(my_tuple[-3:])
print(my_tuple[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [8]:
#assignment 4
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for row in matrix:
    print(row)
print(f"the element in second row third column is: {matrix[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
the element in second row third column is: 6

In [10]:
#assigment 5
tup1= (1,2,3)
tup2= (4,5,6)
concat= tup1+tup2
print(concat)

(1, 2, 3, 4, 5, 6)

In [13]:
#assignment 6
dup_tup= (1,2,2,2,3,4,5,5,5,6,6,6,6)
print(f"the number of occurence of 2 is: {dup_tup.count(6)}")
print(f"the index where 2 is first occured is: {dup_tup.index(2)}")

the number of occurence of 2 is: 4
the index where 2 is first occured is: 1

In [14]:
#assignment 7
tup= (1,2,3,4,5,6)
a,b,c,d,e,f= tup
print(a,b,c,d,e,f)

1 2 3 4 5 6

In [15]:
#assignment 8
lst= [1,2,3,4,5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

In [16]:
#assignment 9
tup_of_tup= ((1,2,3), (4,5,6), (7,8,9))
print(tup_of_tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [20]:
#assignment 10
tup=(1,2,3,4,5,6)
lst=list(tup)
lst.append(7)
tpl=tuple(lst)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
#assignment 11
string= "hello"
tup=tuple(string)
joined_string= ''.join(tup)
print(joined_string)

hello

In [23]:
#assignment 12
tpl_dict= {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [26]:
#assignment 13
nested_tupl= (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for tupl in nested_tupl:
    for item in tupl:
        print(item)

1
2
3
4
5
6
7
8
9

In [ ]:
#assignment 14
dup_tup=(1,1,2,3,4,4,4,5,6,6,6,6)
sett= set(dup_tup)
print(sett)

{1, 2, 3, 4, 5, 6}

In [ ]:
#assignment 15
def max_of_tupl(tpl):
    return max(tpl)

def min_of_tupl(tpl):
    return min(tpl)
def sum_of_tupl(tpl):
    return sum(tpl)
sample= (1,2,3,4,5,6)
print(f"the max of sample tuple: {max_of_tupl(sample)} ")
print(f"the min of sample tuple: {min_of_tupl(sample)} ")
print(f"the sum of sample tuple: {sum_of_tupl(sample)} ")

the max of sample tuple: 6
the min of sample tuple: 1
the sum of sample tuple: 21