# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [10]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import pandas as pd
import numpy as np

data_frame= pd.DataFrame(np.random.randint(0,21, size=(6,4)), columns=['A','B','C','D'])
print(f"print original dataframe: \n{data_frame}\n")

data_frame.set_index('A', inplace=True)
print(f"data frame with new index is: \n{data_frame}\n")

print original dataframe:
    A   B   C   D
0   0   3   1  18
1  16   9  19   1
2   4   5  19  18
3  16  17  14   2
4   0  17   2  17
5  19  19  20  10

data frame with new index is:
     B   C   D
A
0    3   1  18
16   9  19   1
4    5  19  18
16  17  14   2
0   17   2  17
19  19  20  10

In [11]:
# Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  44  15   3
Y  22  72  22
Z  75  96  25
Element at row 'Y' and column 'B': 72

In [13]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

data_frame= pd.DataFrame(np.random.randint(1,21,size=(5,3)), columns=['A','B','C'])
print(f"the original data frame is: \n {data_frame}\n")

data_frame['D']= data_frame['A'] * data_frame['B']
print(f"the data frame with new column is: \n {data_frame}\n")

the original data frame is:
     A   B   C
0   3   2   4
1  19  10   9
2  19  17  19
3  17   2   8
4  13   8  12

the data frame with new column is:
     A   B   C    D
0   3   2   4    6
1  19  10   9  190
2  19  17  19  323
3  17   2   8   34
4  13   8  12  104

In [16]:
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

data_frame= pd.DataFrame(np.random.randint(1,21,size=(4,3)), columns=['A','B','C'])
print(f"the orignal dataframe is: \n{data_frame}\n")

row_sum= data_frame.sum(axis=1)
col_sum= data_frame.sum(axis=0)

print(f"the row wise sum is: \n{row_sum}\n")
print(f"the col wise sum is: \n{col_sum}\n")

the orignal dataframe is:
    A   B   C
0  19  17  13
1   7   9   6
2   1   5  11
3  13  12  12

the row wise sum is:
0    49
1    22
2    17
3    37
dtype: int64

the col wise sum is:
A    40
B    43
C    42
dtype: int64

In [4]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print(f"Original DataFrame: \n{df}\n")



df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print(f"Original DataFrame with nan values: \n{df}\n")


df.fillna(df.mean(), inplace=True)
print(f"Original DataFrame with nan filled values: \n{df}\n")

Original DataFrame:
    A   B   C
0   1  79  45
1  84  44  52
2  49   4   5
3   8  69  88
4  94  93  85

Original DataFrame with nan values:
      A     B     C
0   1.0   NaN  45.0
1  84.0  44.0  52.0
2  49.0   4.0   NaN
3   8.0  69.0  88.0
4   NaN  93.0  85.0

Original DataFrame with nan filled values:
      A     B     C
0   1.0  52.5  45.0
1  84.0  44.0  52.0
2  49.0   4.0  67.5
3   8.0  69.0  88.0
4  35.5  93.0  85.0

In [7]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

df = pd.DataFrame(np.random.randint(1, 21, size=(6, 4)), columns=['A', 'B', 'C','D'])
print(f"Original DataFrame: \n{df}\n")

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print(f"Original DataFrame with nan values: \n{df}\n")

df.dropna(inplace=True)
print(f"the dataframe with drop nan values rows is: \n{df}\n")

Original DataFrame:
    A   B   C   D
0  16   9  15   9
1   4   4   8  18
2   5  20  19   5
3   7   3  16   3
4  12   8  18  16
5  18   4  13  19

Original DataFrame with nan values:
      A     B     C   D
0  16.0   NaN  15.0   9
1   4.0   4.0   8.0  18
2   5.0  20.0   NaN   5
3   7.0   3.0  16.0   3
4   NaN   8.0  18.0  16
5  18.0   4.0  13.0  19

the dataframe with drop nan values rows is:
      A    B     C   D
1   4.0  4.0   8.0  18
3   7.0  3.0  16.0   3
5  18.0  4.0  13.0  19

In [12]:
### Assignment 4: Data Aggregation

# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

df = pd.DataFrame({'category': np.random.choice(['A','B','C'], size=5), 'value': np.random.randint(1,21,size=5)})
print(f"Original DataFrame: \n{df}\n")

grouped_data= df.groupby('category')['value'].agg(['sum','mean'])
print(f"the grouped data frame is: \n{grouped_data}\n")

Original DataFrame:
  category  value
0        A     20
1        A      8
2        C      3
3        B      7
4        A     19

the grouped data frame is:
          sum       mean
category
A          47  15.666667
B           7   7.000000
C           3   3.000000

In [18]:
# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.
import pandas as pd
import numpy as np

df= pd.DataFrame({"Product": np.random.choice(['product 1','product 2','product 3'], size=5), "Category": np.random.choice(['A','B','C'], size=5), "Sales": np.random.randint(1,51,size=5)})
print(f"the original data: \n{df}\n")

grouped = df.groupby('Category')['Sales'].sum()
print(f"the total sales caluclated of products are: \n{grouped}\n")

the original data:
     Product Category  Sales
0  product 1        B     28
1  product 3        A     12
2  product 2        B     19
3  product 1        A     18
4  product 1        C     47

the total sales caluclated of products are:
Category
A    30
B    47
C    47
Name: Sales, dtype: int32

In [22]:
### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

df1= pd.DataFrame({'key': ['A','B','C','D'] , 'value1': np.random.randint(1,21,size=4)})
df2= pd.DataFrame({'key': ['A','B','E','F'] , 'value2': np.random.randint(1,21,size=4)})
print(f"first data frame: \n{df1}\n")
print(f"second data frame: \n{df2}\n")

merge= pd.merge(df1,df2, on='key')
print(f"the merged data frame is: \n{merge}\n")

first data frame:
  key  value1
0   A       2
1   B       5
2   C       1
3   D       9

second data frame:
  key  value2
0   A      14
1   B       4
2   E      19
3   F       1

the merged data frame is:
  key  value1  value2
0   A       2      14
1   B       5       4

In [ ]:
# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

df1= pd.DataFrame({'A': np.random.randint(1,21,size=2),'B': np.random.randint(1,21,size=2)})
df2= pd.DataFrame({'C': np.random.randint(1,21,size=2),'D': np.random.randint(1,21,size=2)})
print(f"the first data frame: \n{df1}\n")
print(f"the second data frame: \n{df2}\n")

concat_row= pd.concat([df1,df2], axis=0)
print(f"concated row of data frames is: \n{concat_row}")

concat_col= pd.concat([df1,df2], axis=1)
print(f"concated col of data frames is: \n{concat_col}")

the first data frame:
    A   B
0  16   1
1   5  14

the second data frame:
   C  D
0  4  9
1  6  9

concated row of data frames is:
      A     B    C    D
0  16.0   1.0  NaN  NaN
1   5.0  14.0  NaN  NaN
0   NaN   NaN  4.0  9.0
1   NaN   NaN  6.0  9.0
concated col of data frames is:
    A   B  C  D
0  16   1  4  9
1   5  14  6  9

In [3]:
### Assignment 6: Time Series Analysis

# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
import pandas as pd
import numpy as np

date_range= pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')
df= pd.DataFrame(date_range, columns=['date'])
df['data'] = np.random.randint(1,101,size=(len(date_range)))
df.set_index('date', inplace=True)
print(f"original dataframe is: \n{df}\n")

month_mean= df.resample('M').mean()
print(f"monthly mean: \n{month_mean}\n")

original dataframe is:
            data
date
2024-01-01   100
2024-01-02    12
2024-01-03    86
2024-01-04    32
2024-01-05    59
...          ...
2024-12-27    75
2024-12-28    59
2024-12-29     4
2024-12-30    18
2024-12-31    94

[366 rows x 1 columns]

monthly mean:
                 data
date
2024-01-31  53.161290
2024-02-29  53.896552
2024-03-31  48.032258
2024-04-30  44.633333
2024-05-31  49.838710
2024-06-30  57.633333
2024-07-31  44.483871
2024-08-31  55.225806
2024-09-30  52.200000
2024-10-31  51.806452
2024-11-30  47.566667
2024-12-31  46.225806

C:\Users\abhin\AppData\Local\Temp\ipykernel_23544\3476005437.py:13: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  month_mean= df.resample('M').mean()

In [6]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

date_range = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df= pd.DataFrame(date_range, columns=['date'])
df['data'] = np.random.randint(0,100, size=(len(date_range)))
df.set_index('date', inplace= True)
print(f"original dataframe: \n{df}\n")

rolling_mean= df.rolling(window=7).mean()
print("rolling mean dataframes: ")
print(rolling_mean)

original dataframe:
            data
date
2021-01-01     5
2021-01-02    72
2021-01-03    10
2021-01-04    71
2021-01-05    57
...          ...
2021-12-27    48
2021-12-28    33
2021-12-29     2
2021-12-30    69
2021-12-31    21

[365 rows x 1 columns]

rolling mean dataframes:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  57.428571
2021-12-28  53.571429
2021-12-29  48.000000
2021-12-30  47.000000
2021-12-31  42.000000

[365 rows x 1 columns]

In [7]:
### Assignment 7: MultiIndex DataFrame

# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

arrays = [['A','A','B','B'], ['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('category', 'SubCategory'))
df= pd.DataFrame(np.random.randint(1,100, size=(4,3)), index=index, columns=['value1','value2','value3'])
print(f"multiindex dataframe: \n{df}\n")

print("indexing at category 'A': ")
print(df.loc['A'])

print("slicing at category 'B' and subcategory 'two': ")
print(df.loc['B','two'])

multiindex dataframe:
                      value1  value2  value3
category SubCategory
A        one              96      87      72
         two               7       4      62
B        one              24      72      93
         two              24       8      32

indexing at category 'A':
             value1  value2  value3
SubCategory
one              96      87      72
two               7       4      62
slicing at category 'B' and subcategory 'two':
value1    24
value2     8
value3    32
Name: (B, two), dtype: int32

In [13]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

arrays = [['A','A','B','B'], ['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('category', 'subcategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print(f"the multiindex dataframe is: \n{df}\n")

sum_values= df.groupby(['category', 'subcategory']).sum()
print(f"the sum of values is: \n{sum_values}")

the multiindex dataframe is:
                      Value1  Value2  Value3
category subcategory
A        one              44      70       4
         two              65      86       6
B        one               7       1      79
         two               8      25      60

the sum of values is:
                      Value1  Value2  Value3
category subcategory
A        one              44      70       4
         two              65      86       6
B        one               7       1      79
         two               8      25      60

In [14]:
### Assignment 8: Pivot Tables

# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

date_range= pd.date_range(start="2022-01-01", end="2022-01-10", freq="D")
df= pd.DataFrame({'date': np.random.choice(date_range, size=20), 'category': np.random.choice(['A','B','C'], size=20), 'value': np.random.randint(1,100, size=20)})
print(f"the original dataframe is: \n{df}\n")

pivot_table = df.pivot_table(values='value', index='date', columns='category', aggfunc='sum')
print(f"pivot table: \n{pivot_table}\n")

the original dataframe is:
         date category  value
0  2022-01-07        B     33
1  2022-01-08        B     63
2  2022-01-10        B     39
3  2022-01-01        B     58
4  2022-01-03        B     32
5  2022-01-02        B     42
6  2022-01-06        C     71
7  2022-01-03        B     67
8  2022-01-10        C     70
9  2022-01-08        C     64
10 2022-01-10        A     57
11 2022-01-08        B     75
12 2022-01-02        B     20
13 2022-01-08        A     62
14 2022-01-05        A     37
15 2022-01-06        A     44
16 2022-01-10        C     69
17 2022-01-10        A     12
18 2022-01-01        C     43
19 2022-01-10        B     47

pivot table:
category       A      B      C
date
2022-01-01   NaN   58.0   43.0
2022-01-02   NaN   62.0    NaN
2022-01-03   NaN   99.0    NaN
2022-01-05  37.0    NaN    NaN
2022-01-06  44.0    NaN   71.0
2022-01-07   NaN   33.0    NaN
2022-01-08  62.0  138.0   64.0
2022-01-10  69.0   86.0  139.0

In [15]:
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

df= pd.DataFrame({'year': np.random.choice([2020,2021,2022], size=12), 'quater': np.random.choice(['q1','q2','q3','q4']), 'revenue': np.random.randint(1,1000,size=12)})
print(f"original dataframe: \n{df}\n")

pivot_table= df.pivot_table(values='revenue', index='year', columns='quater', aggfunc='mean')
print(f"pivot table: \n{pivot_table}\n")

original dataframe:
    year quater  revenue
0   2021     q4      591
1   2022     q4      886
2   2021     q4      601
3   2021     q4      830
4   2020     q4      925
5   2022     q4      444
6   2020     q4      483
7   2020     q4      893
8   2022     q4      584
9   2021     q4      837
10  2022     q4      476
11  2021     q4      140

pivot table:
quater     q4
year
2020    767.0
2021    599.8
2022    597.5

In [17]:
### Assignment 9: Applying Functions

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

df= pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['a','b','c'])
print(f"original dataframe: \n{df}\n")

df_doubled = df. map(lambda x: x*2)
print(f"doubled dataframe: \n{df_doubled}\n")

original dataframe:
    a   b   c
0  36  47  76
1  28  59  52
2  21  28  64
3  65  29  36
4  89  23  34

doubled dataframe:
     a    b    c
0   72   94  152
1   56  118  104
2   42   56  128
3  130   58   72
4  178   46   68

In [21]:
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

df = pd.DataFrame(np.random.randint(1,100, size=(6,3)), columns=['a','b','c'])
print(f"original dataframe:\n{df}\n")

df['sum'] = df.apply(lambda row: row.sum(), axis=1)
print(f"dataframe with sum column:\n{df}\n")

original dataframe:
    a   b   c
0  84  69   5
1  51  76   9
2  75  69   6
3  13  63  41
4  45  35  66
5   4   7  59

dataframe with sum column:
    a   b   c  sum
0  84  69   5  158
1  51  76   9  136
2  75  69   6  150
3  13  63  41  117
4  45  35  66  146
5   4   7  59   70

In [22]:
### Assignment 10: Working with Text Data

# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

text_data= pd.Series(['apple','banana','cherry','date','elderberry'])
print(f"original series: \n{text_data}\n")

upper_case= text_data.str.upper()
print(f"the uppercase series: \n{upper_case}\n")

original series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

the uppercase series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [23]:
# 2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

text_data= pd.Series(['apple','banana','cherry','date','elderberry'])
print(f"original series: \n{text_data}\n")

first_three_chars= text_data.str[:3]
print("first three characters: ")
print(first_three_chars)

original series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

first three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object