# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [10]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import pandas as pd
import numpy as np

data_frame= pd.DataFrame(np.random.randint(0,21, size=(6,4)), columns=['A','B','C','D'])
print(f"print original dataframe: \n{data_frame}\n")

data_frame.set_index('A', inplace=True)
print(f"data frame with new index is: \n{data_frame}\n")

print original dataframe:
    A   B   C   D
0   0   3   1  18
1  16   9  19   1
2   4   5  19  18
3  16  17  14   2
4   0  17   2  17
5  19  19  20  10

data frame with new index is:
     B   C   D
A
0    3   1  18
16   9  19   1
4    5  19  18
16  17  14   2
0   17   2  17
19  19  20  10

In [11]:
# Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  44  15   3
Y  22  72  22
Z  75  96  25
Element at row 'Y' and column 'B': 72

In [13]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

data_frame= pd.DataFrame(np.random.randint(1,21,size=(5,3)), columns=['A','B','C'])
print(f"the original data frame is: \n {data_frame}\n")

data_frame['D']= data_frame['A'] * data_frame['B']
print(f"the data frame with new column is: \n {data_frame}\n")

the original data frame is:
     A   B   C
0   3   2   4
1  19  10   9
2  19  17  19
3  17   2   8
4  13   8  12

the data frame with new column is:
     A   B   C    D
0   3   2   4    6
1  19  10   9  190
2  19  17  19  323
3  17   2   8   34
4  13   8  12  104

In [16]:
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

data_frame= pd.DataFrame(np.random.randint(1,21,size=(4,3)), columns=['A','B','C'])
print(f"the orignal dataframe is: \n{data_frame}\n")

row_sum= data_frame.sum(axis=1)
col_sum= data_frame.sum(axis=0)

print(f"the row wise sum is: \n{row_sum}\n")
print(f"the col wise sum is: \n{col_sum}\n")

the orignal dataframe is:
    A   B   C
0  19  17  13
1   7   9   6
2   1   5  11
3  13  12  12

the row wise sum is:
0    49
1    22
2    17
3    37
dtype: int64

the col wise sum is:
A    40
B    43
C    42
dtype: int64

In [ ]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

data_frame= pd.DataFrame(np.random.randint(1,21,size=(5,3)), columns=['A','B','C'])
print(f"the orignal dataframe is: \n{data_frame}\n")

data_frame.inloc[0,1]=