In [1]:
print("hello world")

hello world

# variables

In [2]:
## Naming conventions 
## variables names should be descriptive
## They must start with a letter or an "_" and contain letter, number and underscores
## variables names are case sensitive

#valid variable name
first_name="krish"
last_name="Naik"

In [5]:
#invalid variable name
#2age=30
#first-name="hello"

In [6]:
## case sensitive

In [8]:
##Uderstanding variable type
## Python is dynamincally types type of a variable is determined at runtime
age=25#int
height=6.1#float
name="krish"#char
is_student=True

print(type(name))

<class 'str'>

In [9]:
## Type checking and covernsion
type(height)

float

In [10]:
age=25
print(type(age))
#type coversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [11]:
##different type of type conversion
age='25'
print(type(int(age)))

<class 'int'>

## DATA VARIABLES

In [1]:
## Integers
age=35
type(age)

int

In [2]:
## Floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## String datatype example
    name=

IndentationError: unexpected indent (4246564412.py, line 2)

In [4]:
name="krish"
print(name)
print(type(name))

krish
<class 'str'>

In [5]:
##boolean datatype
is_true=True
type(is_true)

bool

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
##common errors

result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
result="hello"+ str(5)
print(result)

hello5

## OPERATORS

In [10]:
##artihmetic operations

a=10
b=5

result=a+b
print(result)

15

In [11]:
sub=a-b
print(sub)

5

In [12]:
div=a/b
print(div)

2.0

In [13]:
floor_dic_result=a//b
print(floor_dic_result)

2

In [15]:
modulus_result=a%b
modulus_result

0

In [16]:
exponent_result=a**b
print(exponent_result)

100000

In [17]:
10/5

2.0

In [18]:
21/5

4.2

In [ ]:
21//5 ##floor value

4

#### comparison operators

In [20]:
## comparison operators
## == 
a=10
b=10

a==b

True

In [22]:
str1="abhinay"
str2="abhinay"
str1==str2

True

In [24]:
## not equal to
str1!=str2

False

In [25]:
str3="Vaibha"
str4="vaibha"
str3!=str4

True

In [26]:
# greater than

num1 = 45
num2 = 55

num1>num2

False

In [27]:
## less than <
print(num1<num2)

True

In [31]:
#greater than or equal to
number1=44
number2=45
print(number1<=number2)

True

#### logical operators

In [32]:
## and, not , or

x=True
y=True

result = x and y
print(result)

True

In [33]:
x=False
y=True

result = x and y
print(result)

False

In [34]:
##or

x=False
y=False

result = x or y
print(result)

False

In [35]:
# not operator

c=True
not c

False

# control flow

### conditional statements

In [1]:
## if statement
age=20
if age>=18:
    print("you are allowed to vote in elections")

you are allowed to vote in elections

In [3]:
age>=18

True

In [6]:
## else
## the else statement executes a block of code if the condition in the if statement is false
age=12

if age>=18:
    print("you are eligible")
else:
    print("you are not eligible")

you are not eligible

In [8]:
#elif statement
## the elif statement allows you to check multiple statements. It stands for else if

age=17

if age<13:
    print("hey you are a child")
elif age<18:
    print("you are a teenager")
else:
    print("hey are an adult")

you are a teenager

In [11]:
## nested conditional statements
## if under if to create  a nested condition

## number even, odd, negative

num=int(input("enter the number"))

if(num>0):
    print("the number is positive")
    if(num%2==0):
        print("the number is even number")
    else:
        print("the number is odd")
else:
    print("the number is zeri or negative")

the number is positive
the number is odd

In [2]:
#use cases and practical example

## determine is a year is a leap year using nested conditional statement

year= int(input("enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")
        else:
            print("this year is not a leap yaear")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [ ]:
## assignment
## simple calculator program take user form user and perform operations 

num1 = float(input("enter the first number: "))
num2 = float(input("enter the second number: "))
operation = input("enter the operation(+, -, *, /, %): ")

if operation=='+':
    result = num1 + num2
elif operation=='-':
    result = num1 - num2
elif operation=='*':
    result = num1 * num2
elif operation=='/':
    result = num1 / num2
elif operation=='%':
    result = num1 % num2
else:
    result("operator invalid")
print(f"the result of {num1} and {num2} with operation {operation} is {result}")

the result of 42 and 21 with operation / is 2.0

In [ ]:
## determine the ticket price based on the age and check if the person is a student

## LOOPS

In [1]:
#for loop
# loop to iterate over sequence of number

range(5)

range(0, 5)

In [ ]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
## strings

str="hello world"

for i in str:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [12]:
# while loop

## it execute as long as condition is true

count=0

while count < 5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [15]:
## loop control statements

## break
## the break statement exists the loop prematurelly 

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
##continue

## skips the current iteration and conitnue the execution

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
## pass
## the pass is null oeration, does nothing

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [18]:
## nested loop
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [19]:
 ##example calculate the sum of first n natural numbers using a while and for loop

## while loop
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print("sum of first 10 natural number: ", sum)

sum of first 10 natural number:  55

In [21]:
n=10
sum=0
count=1
for i in range(11):
    sum=sum+i
print(sum)

55

In [23]:
## example - display prime number between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97