In [1]:
print("hello world")

hello world

# variables

In [2]:
## Naming conventions 
## variables names should be descriptive
## They must start with a letter or an "_" and contain letter, number and underscores
## variables names are case sensitive

#valid variable name
first_name="krish"
last_name="Naik"

In [5]:
#invalid variable name
#2age=30
#first-name="hello"

In [6]:
## case sensitive

In [8]:
##Uderstanding variable type
## Python is dynamincally types type of a variable is determined at runtime
age=25#int
height=6.1#float
name="krish"#char
is_student=True

print(type(name))

<class 'str'>

In [9]:
## Type checking and covernsion
type(height)

float

In [10]:
age=25
print(type(age))
#type coversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [11]:
##different type of type conversion
age='25'
print(type(int(age)))

<class 'int'>

## DATA VARIABLES

In [1]:
## Integers
age=35
type(age)

int

In [2]:
## Floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## String datatype example
    name=

IndentationError: unexpected indent (4246564412.py, line 2)

In [4]:
name="krish"
print(name)
print(type(name))

krish
<class 'str'>

In [5]:
##boolean datatype
is_true=True
type(is_true)

bool

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
##common errors

result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
result="hello"+ str(5)
print(result)

hello5

## OPERATORS

In [10]:
##artihmetic operations

a=10
b=5

result=a+b
print(result)

15

In [11]:
sub=a-b
print(sub)

5

In [12]:
div=a/b
print(div)

2.0

In [13]:
floor_dic_result=a//b
print(floor_dic_result)

2

In [15]:
modulus_result=a%b
modulus_result

0

In [16]:
exponent_result=a**b
print(exponent_result)

100000

In [17]:
10/5

2.0

In [18]:
21/5

4.2

In [ ]:
21//5 ##floor value

4

#### comparison operators

In [20]:
## comparison operators
## == 
a=10
b=10

a==b

True

In [22]:
str1="abhinay"
str2="abhinay"
str1==str2

True

In [24]:
## not equal to
str1!=str2

False

In [25]:
str3="Vaibha"
str4="vaibha"
str3!=str4

True

In [26]:
# greater than

num1 = 45
num2 = 55

num1>num2

False

In [27]:
## less than <
print(num1<num2)

True

In [31]:
#greater than or equal to
number1=44
number2=45
print(number1<=number2)

True

#### logical operators

In [32]:
## and, not , or

x=True
y=True

result = x and y
print(result)

True

In [33]:
x=False
y=True

result = x and y
print(result)

False

In [34]:
##or

x=False
y=False

result = x or y
print(result)

False

In [35]:
# not operator

c=True
not c

False

# control flow

### conditional statements

In [1]:
## if statement
age=20
if age>=18:
    print("you are allowed to vote in elections")

you are allowed to vote in elections

In [3]:
age>=18

True

In [6]:
## else
## the else statement executes a block of code if the condition in the if statement is false
age=12

if age>=18:
    print("you are eligible")
else:
    print("you are not eligible")

you are not eligible

In [8]:
#elif statement
## the elif statement allows you to check multiple statements. It stands for else if

age=17

if age<13:
    print("hey you are a child")
elif age<18:
    print("you are a teenager")
else:
    print("hey are an adult")

you are a teenager

In [11]:
## nested conditional statements
## if under if to create  a nested condition

## number even, odd, negative

num=int(input("enter the number"))

if(num>0):
    print("the number is positive")
    if(num%2==0):
        print("the number is even number")
    else:
        print("the number is odd")
else:
    print("the number is zeri or negative")

the number is positive
the number is odd

In [2]:
#use cases and practical example

## determine is a year is a leap year using nested conditional statement

year= int(input("enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")
        else:
            print("this year is not a leap yaear")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [ ]:
## assignment
## simple calculator program take user form user and perform operations 

num1 = float(input("enter the first number: "))
num2 = float(input("enter the second number: "))
operation = input("enter the operation(+, -, *, /, %): ")

if operation=='+':
    result = num1 + num2
elif operation=='-':
    result = num1 - num2
elif operation=='*':
    result = num1 * num2
elif operation=='/':
    result = num1 / num2
elif operation=='%':
    result = num1 % num2
else:
    result("operator invalid")
print(f"the result of {num1} and {num2} with operation {operation} is {result}")

the result of 42 and 21 with operation / is 2.0

In [ ]:
## determine the ticket price based on the age and check if the person is a student

## LOOPS

In [1]:
#for loop
# loop to iterate over sequence of number

range(5)

range(0, 5)

In [ ]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
## strings

str="hello world"

for i in str:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [12]:
# while loop

## it execute as long as condition is true

count=0

while count < 5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [15]:
## loop control statements

## break
## the break statement exists the loop prematurelly 

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
##continue

## skips the current iteration and conitnue the execution

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
## pass
## the pass is null oeration, does nothing

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [18]:
## nested loop
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [19]:
 ##example calculate the sum of first n natural numbers using a while and for loop

## while loop
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print("sum of first 10 natural number: ", sum)

sum of first 10 natural number:  55

In [21]:
n=10
sum=0
count=1
for i in range(11):
    sum=sum+i
print(sum)

55

In [23]:
## example - display prime number between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## tuple

In [1]:
number = tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [2]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [3]:
mixed_tuple=(1,"hello world",3.11)
print(mixed_tuple)

(1, 'hello world', 3.11)

In [4]:
## accessing tuple elements
number

(1, 2, 3, 4, 5, 6)

In [7]:
print(number[2])
print(number[-1])

3
6

In [8]:
number[0:4]

(1, 2, 3, 4)

In [10]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [11]:
#tuple operations

number

(1, 2, 3, 4, 5, 6)

In [13]:
number + mixed_tuple

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.11)

In [1]:
mixed_tuple * 3

NameError: name 'mixed_tuple' is not defined

In [2]:
number * 3

NameError: name 'number' is not defined

In [3]:
##immutable nature of tuples

## tuples are immutable, meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="hello"
print(lst)

[1, 2, 3, 4, 5]
[1, 'hello', 3, 4, 5]

In [4]:
numbers=(1,2,3,4,5)
numbers[1]="hello"
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [5]:
## tuple methods
numbers

(1, 2, 3, 4, 5)

In [7]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [1]:
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [2]:
##unpacking a tuple
a,b,c= packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [3]:
##unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last= numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [7]:
## nested tuple
## nested list
lst=[[1,2,3,4], [5,6,7,8], ["hello", 3.14, "c"]]
lst[2][0:3]

['hello', 3.14, 'c']

In [8]:
nested_tuple= ((1, 2, 3), ("a", "b","c"), (True, False))

## access the elements indside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [9]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

# sets

In [1]:
my_set= {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set= set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_empty_set= set([1,2,3,4,5])
print(my_empty_set)

In [ ]:
my_set= {1,2,3,4,5,6,4,2,3,5,6}
print(my_set)

In [ ]:
## basics set operations
##adding and removing elelments
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

In [ ]:
## remove the elements from a set
my_set.remove(3)
print(my_set)

In [ ]:
my_set.remove(10)

In [ ]:
my_set.discard(11)
print(my_set)

In [ ]:
## pop method
remove_element= my_set.pop()
print(remove_element)
print(my_set)

In [ ]:
## clear all the elements
my_set.clear()
print(my_set)

In [ ]:
## set membership test
my_set= {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

In [4]:
## mathematical operation
set1={1,2,3,4,5,6}
set2= {4,5,6,7,8,9}

## union
union_set= set1.union(set2)
print(union_set)

## Intersection
intersection_set= set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [6]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}

## set difference
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2}
{6, 7}

In [7]:
## symmetric difference
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [8]:
## sets methods
set1= {1,2,3}
set2= {3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [9]:
lst= [1,2,2,3,4,5,5,5,4,4]

set(lst)

{1, 2, 3, 4, 5}

In [10]:
### counting unique words in text

text= "wow there is a monkey over there"
words= text.split()

## convert list of words to set to get unique words
unique_words= set(words)
print(unique_words)
print(len(unique_words))

{'is', 'there', 'a', 'wow', 'monkey', 'over'}
6

## DICTIONARIES

In [1]:
## creating dictionaries
empty_dict= {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict= dict()
empty_dict

{}

In [ ]:
student={"name": "maamu", "age": 32, "grade": 24}
print(student)
print(type(student))

{'name': 'maamu', 'age': 32, 'grade': 24}
<class 'dict'>

In [ ]:
#error(single keys is alwas used)
student={"name": "maamu", "age": 32, "name": 24}
student

{'name': 24, 'age': 32}

In [6]:
## accessing dictionary elements
student={"name": "maamu", "age": 32, "grade": 'A'}
print(student)

{'name': 'maamu', 'age': 32, 'grade': 'A'}

In [ ]:
print(student['grade'])
print(student['age'])

## accessing using get() method by dictionary
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"not available"))

A
32
A
None
not available

In [12]:
## modifying dictionary elements
## dictionary are mutable, so you can add, update or delete elements
print(student)

{'name': 'maamu', 'age': 32, 'grade': 'A'}

In [ ]:
student['age']=33 ## updates the value for the key
print(student)
student["address"]='india' ## added a new key and value
print(student)

{'name': 'maamu', 'age': 33, 'grade': 'A', 'address': 'india'}
{'name': 'maamu', 'age': 33, 'grade': 'A', 'address': 'india'}

In [16]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'maamu', 'age': 33, 'address': 'india'}

In [17]:
## dictionary methods we use

keys=student.keys()
print(keys)
values=student.values() ## get all values
print(values)

items= student.items() ## get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['maamu', 33, 'india'])
dict_items([('name', 'maamu'), ('age', 33), ('address', 'india')])

In [ ]:
# shallow co

NameError: name 'student' is not defined

In [3]:
student={"name": "maamu", "age": 32, "name": 24}
student
student_copy=student
print(student)
print(student_copy)

{'name': 24, 'age': 32}
{'name': 24, 'age': 32}

In [4]:
student["name"]="hello"
print(student)
print(student_copy)

{'name': 'hello', 'age': 32}
{'name': 'hello', 'age': 32}

In [5]:
student_copy1= student.copy() ## for doing shallow copy
print(student_copy1)
print(student)

{'name': 'hello', 'age': 32}
{'name': 'hello', 'age': 32}

In [7]:
student["name"]="maana"
print(student_copy1)
print(student)

{'name': 'hello', 'age': 32}
{'name': 'maana', 'age': 32}

In [8]:
### iterating over dictionaries
## you can use loops to iterate over dictionaries, keys, values, or items

## iterating over keys
for keys in student.keys():
    print(keys)

name
age

In [9]:
## iterate over values
for value in student.values():
    print(value)

maana
32

In [11]:
## iterate over key value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: maana
age: 32

In [12]:
# nested dictionaries
students= {
    "student1": {"name": "rahul", "age": 27},
    "student2": {"name": "jesus", "age": 2700},
}
print(students)

{'student1': {'name': 'rahul', 'age': 27}, 'student2': {'name': 'jesus', 'age': 2700}}

In [13]:
## access nested dictionaries
print(students["student2"]["name"])
print(students["student2"]["age"])

jesus
2700

In [14]:
students.items()

dict_items([('student1', {'name': 'rahul', 'age': 27}), ('student2', {'name': 'jesus', 'age': 2700})])

In [17]:
## iterating over nested dicitonaries
for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'rahul', 'age': 27}
name: rahul
age: 27
student2: {'name': 'jesus', 'age': 2700}
name: jesus
age: 2700

In [18]:
## dictionary comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [19]:
## comditional dictionary comphrehension
evens= { x: x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [21]:
## practical examples

## use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [22]:
# merge 3 dictionaries into one

dict1= {"a": 1, "b": 2}
dict2= {"b": 3, "c": 4}
merged_dict= {**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

## list exmaples

In [5]:
to_do_list=["buy groceries", "clean the house", "pay bills"]
## adding to task
to_do_list.append("schedule meeting")
to_do_list.append("go for a run")

## removing a completed task
to_do_list.remove("clean the house")

## checking if a task is in the list
if "pay bills" in to_do_list:
    print("don't forget to pay utility bills")

print("To do list remaining: ")
for task in to_do_list:
    print(f"    -{task}")

don't forget to pay utility bills
To do list remaining:
    -buy groceries
    -pay bills
    -schedule meeting
    -go for a run

### Functions

In [6]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [7]:
## why functions?
num= 24
if num%2== 0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [9]:
def even_or_odd(num):
    """This function performs whether a number is odd or even"""
    if num%2== 0:
        print("the number is even")
    else:
        print("the number is odd")

In [10]:
## call this function
even_or_odd(24)

the number is even

In [12]:
## function with multiple parameters

def add(a, b):
    """to add two variable"""
    return a+b
result= add(2, 4)
print(result)

6

In [14]:
## default parameters
def greet(name):
    print(f"Hello {name}. Welcome to the store.")

greet("Jocky")

Hello Jocky. Welcome to the store.

In [ ]:
# Default parameters
def greet(name="Guest"):
    print(f"Hello {name}. Welcome to the store.")

greet("Surf")

Hello Surf. Welcome to the store.

In [20]:
# Variable length Arguments
## positional and keywords arguments

def print_numbers(*args):
    for numbers in args:
        print(numbers)

In [21]:
print_numbers(1,2,3,4,5,6,7,"Ragul")

1
2
3
4
5
6
7
Ragul

In [22]:
# Keywords Arguments

def print_detailling(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [23]:
print_detailling(name="jokey", age="32", country="India")

name:jokey
age:32
country:India

In [26]:
def print_detailling(*args, **kwargs):
    for numbers in args:
        print(f"positonal argument: {numbers}")
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [27]:
print_detailling(1,2,3,"syxho", name="ragul", age="32", country= "india")

positonal argument: 1
positonal argument: 2
positonal argument: 3
positonal argument: syxho
name:ragul
age:32
country:india

In [ ]:
### return statements
def multiply(a, b):
    return a*b
multiply(2,3)

6

In [30]:
### return multiple parameters
def multiply(a, b):
    return a*b,a
multiply(2,3)

(6, 2)